/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar styling */
header {
    background-color: #ff6361;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Adjust the width as needed */
}

.logo img {
    width: 100px; /* Adjust the logo size as needed */
}

.nav_links {
    display: flex;
    gap: 20px; /* Space between each nav item */
}

.nav_links .top_btn:last-child {
    margin-left: 40px; /* Adjust the space between Blogs and Contact Me */
}

.top_btn {
    text-decoration: none;
    color: #003F5C; /* Dark blue color */
    font-size: 20px; /* Adjust the font size as needed */
    transition: color 0.3s;
}

.top_btn:hover {
    color: #0056b3; /* Adjust the hover color as needed */
}
/* ------------------------------------------------------------------------- */
/* Section styling */

/* -------------------------------------------------------------------------- */
/* footer styling */

footer {
    background-color: #003F5C;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Adjust the width as needed */
    color: white;
}

.footer_left {
    display: flex;
    align-items: center;
}

.footer_left .fname, .footer_left .lname {
    margin-left: 10px;
    font-size: 20px; /* Adjust font size as needed */
}

.footer_right {
    display: flex;
    gap: 10px; /* Adjust spacing between icons */
}

.footer_right a {
    color: #ccc; /* Light grey color for icons */
    font-size: 24px; /* Adjust icon size as needed */
    text-decoration: none;
}

.footer_right a:hover {
    color: #fff; /* White color on hover */
}