/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global font */

body {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal
      
}

/* Navbar styling */
header {
    background-color: #ff6361;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Adjust the width as needed */
}

.logo img {
    width: 100px; /* Adjust the logo size as needed */
}

/* Add some animation to the header logo */
.logo :hover {
    transform: rotate(360deg);
    transition: 4s;
}

.nav_links {
    display: flex;
    gap: 20px; /* Space between each nav item */
}

.nav_links .top_btn:last-child {
    margin-left: 40px; /* Adjust the space between Blogs and Contact Me */
}

.top_btn {
    text-decoration: none;
    color: #003F5C; /* Dark blue color */
    font-size: 20px; /* Adjust the font size as needed */
    transition: color 0.3s;
}

.top_btn:hover {
    color: #0056b3; /* Adjust the hover color as needed */
}

/* ------------------------------------------------------------------------- */
/* Section styling */

section {
    margin: 10dvw;
}

#exp_heading {
    display: flex;
    justify-content: center;
    margin: 2dvh;
}

.exp_content {
    display:flex;
    flex-direction: column;
    gap:40px;
    background-color:aquamarine;
    margin: 5dvw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1; /* Allow section to grow and push footer down */
}

.exp_summary h3 {
    display: flex;
    justify-content: center;
}
.exp_summary p {
    font-size: 1em;
    color: black;
}

.pro_exp h3 {
    display: flex;
    justify-content: center;
}
.pro_exp p {
    font-size: 1em;
    color: black;
}

.list_responsibilities {
    margin: 2dvw;
}
/* -------------------------------------------------------------------------- */
/* footer styling */

footer {
    background-color: #003F5C;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Adjust the width as needed */
    color: white;
}

.footer_left {
    display: flex;
    align-items: center;
}

.footer_left .fname, .footer_left .lname {
    margin-left: 10px;
    font-size: 20px; /* Adjust font size as needed */
}

.footer_right {
    display: flex;
    gap: 10px; /* Adjust spacing between icons */
}

.footer_right a {
    color: #ccc; /* Light grey color for icons */
    font-size: 24px; /* Adjust icon size as needed */
    text-decoration: none;
}

.footer_right a:hover {
    color: #fff; /* White color on hover */
}